@import '../config'

.glytch-image-list
  & button
    & a:active
      color none
  & .list-group-item
    border 0

.glytch-image-row
  height 100%
  width 100%
  border 2px solid transparent
  border-radius 6px

  &:active
  &.selected
    border-color clyp_green
